<h1><%= @house.name %></h1>

<ul>
  <li>Author - <%= @house.author %></li>
  <li>Source Material - <%= @house.source %></li>
  <% if @house.motto %>
  <li>Motto -  <%= @house.motto %></li>
  <% end %>
</ul>

<%= link_to 'Back', houses_path %>
